body {
  background-color: blue;
}
button {
  position: fixed;
  top: 50%;
  left: 25%;
  padding: 10px;
  width: 50%;
  background-color: mediumslateblue;
  text-transform: uppercase;
  font-family: monospace;
}
